:host {
  display: block;
}

:host ::ng-deep ::-webkit-scrollbar {
  height: 6px;
}

:host ::ng-deep ::-webkit-scrollbar-track {
  background: transparent;
}

:host ::ng-deep ::-webkit-scrollbar-thumb {
  background-color: rgba(15, 23, 42, 0.2);
  border-radius: 9999px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
