.article-content p:first-of-type::first-letter {
  float: left;
  font-size: 3.8rem;
  line-height: 0.8;
  font-weight: 700;
  margin-right: 0.75rem;
  margin-top: 0.1rem;
  color: #197fe6;
}

.article-content img {
  @apply rounded-lg shadow-md my-8;
}

.article-content blockquote {
  @apply border-l-4  pl-6 italic text-2xl font-medium leading-snug text-slate-900 dark:text-white;
}

.article-content h3 {
  @apply text-2xl md:text-3xl font-bold mt-12 mb-5 text-slate-900 dark:text-white;
}
